<div class="course-manage-container">
  <h2>Manage Course</h2>
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
      @if(courseForm.get('title')?.hasError('required'))
      { 
        <mat-error>Title is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="input-field">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
      @if(courseForm.get('description')?.hasError('required'))
      {
      <mat-error>Description is required</mat-error>
      }
    </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save Changes</button>
  </form>

  <h3>Lessons</h3>
  <div [formGroup]="courseForm">
    <div formArrayName="lessons">
      @for(lesson of lessonForms.controls; track $index; let i = $index){
      <div [formGroupName]="i" class="lesson-form">
        <div class="lesson-header">
          <mat-form-field appearance="fill" class="lesson-title">
            <mat-label>Lesson Title</mat-label>
            <input matInput formControlName="title">
            @if(lessonForms.at(i).get('title')?.hasError('required')){
            <mat-error>Lesson title is required</mat-error>
            }
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="deleteLesson(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-form-field appearance="fill" class="lesson-content">
          <mat-label>Lesson Content</mat-label>
          <textarea matInput formControlName="content"></textarea>
          @if(lessonForms.at(i).get('content')?.hasError('required')){
          <mat-error>Lesson content is required</mat-error>
          }
        </mat-form-field>
      </div>
      }
    </div>
  </div>

  <button mat-raised-button color="primary" type="button" (click)="addLesson()">Add Lesson</button>
</div>